.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        width: 100%;
        
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        width: 100%;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
    }
        .main-nav .navbar li {
            float: left;
            font-size: 15px;
            margin: 6px;
        }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.inputcommute
{
    //border: solid 1px #ccc;

}

.inputcommute .header {
    background-color: #eee;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.inputcommute .submit {
    background-color: #aaa;
}

#masthead {
    background-image: url('/silhouette-683751_1920.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    padding: 0px;
}

/* Replace Logo by Text 
    Upgrade by EO - CERN
------------------------------------------------------------------- */
    #masthead #logotext {
        margin-top: 60px;
        margin-left: 200px;
    }

#logoheadline {
    font-family: Times New Roman;
    color: white;
    font-size: 64px;
    margin-bottom: 0px;
    text-shadow: 2px 2px 4px #000000;
}

#logosubheadline {
    font-family: Calibri Light, Arial;
    color: white;
    font-size: 28px;
    margin-top: -10px;
    margin-left: 100px;
    text-shadow: 2px 2px 4px #000000;
}

/* calendar item is filled with Bike */
.bikefilled {
    color: green;
    font-weight: bold;
    background-color: lightgreen !important;
}
.otherfilled {
    color: blue;
    background-color: lightblue !important;
}
.offfilled {
    background-color: #eee !important;
}

/* login button modal window*/
